.header {
    width: 100%;
    background-color: #fff;
    padding: 0 30px;
}

.header__inner {
    width: 300px;
    height: 80px;
}

.header__title {
    display: inline-block;
    height: 100%;
    font-family: "Mea Culpa", cursive;
    font-style: normal;
    font-size: 48px;
    color: #f5c800;
    margin: 0;
}

.main {
    width: 100%;
    background-color: #e4e4e4;
    padding: 0 50px;
}

.main__inner {
    max-width: 1500px;
    min-width: 800px;
    min-height: calc(100vh - 80px);
    margin: 0 auto;
}

.error-message {
    color: red;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
